@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans bg-cream text-retro-dark;
  }
}

/* Retro Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #2D2D2D;
  border-radius: 4px;
  border: 2px solid #F9F5F1;
}

::-webkit-scrollbar-thumb:hover {
  background: #C84C4C;
}
